mixin advantage(data, index)
        .advantage.advantage_background_gray.advantage_width_100.advantage_marginTopRight_10.advantage__padding_20.advantage_alignSelf_start.advantage_chess
                .row.row_wrap(class=index % 2 ? 'row_reverse' : '')
                    img.advantage__chess-img(width=data.imgWidth, height=data.imgHeight, src=data.imgSrc)
                    .container.container_maxWidth_470
                        .advantage__title.advantage__title_marginBottom_33= data.title
                        .advantage__text.advantage__text_fontSize_12.advantage__text_margin_0.advantage__text_textAlign_left= data.text
                        
mixin advantage__small(data)
    .advantage__small
        img.advantage__small-img(src=data.imgSrc)
        h3.advantage__small-title=data.title
        a.advantage__small-link(href="#")
